html,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.page-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.content-wrapper {
    padding-bottom: 15vh;
    width: 100%;
}

.desc {
    display: flex;
    margin-left: 7em;
    margin-bottom: 7.5em;
}

.pic {
    width: 18.5vw;
}

.pic img {
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 10px rgb(122, 122, 122);
}

#name {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3vw;
    margin: auto;
    margin-top: 3vh;
    width: 88vw;
}

a {
    font-size: 2vw;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-top: 10em;
    width: 100%;
    height: 5vh;
    background-color: #000;
    color: white;
}

.header {
    position: sticky;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 4em;
    z-index: 100;
    display: flex;
    align-items: center;
}

.nav-wrapper {
    width: 78.5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-shadow {
    position: sticky;
    top: 4em;
    width: 100%;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1);
}

.header-shadow-cover {
    position: absolute;
    top: 0;
    height: 6px;
    width: 100%;
    background-color: #fff;
    z-index: 99;
}

.name-header {
    width: auto;
}

.name-header a {
    font-size: 2.2vw;
    font-weight: 300;
    color: #000;
    transition: 0.3s ease;
}

.name-header a:hover {
    font-weight: 500;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: auto;
}

.nav-item {
    width: 10vw;
    text-align: center;
}

.nav a {
    color: #000;
    font-weight: 300;
    font-size: 2.2vw;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

.fade-text {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

.long-fade {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
    animation-delay: 2s;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-top: 10em;
    width: 100%;
    height: 5vh;
    background-color: #000;
    color: white;
}