---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cameron MacDonald">
	<div class="about-wrap">
		<div class="window-wrap">
				<div class="window-title">
						<h2>Who?</h2>
				</div>
				<div class="window">
						<img id="profile-pic" src="selfie-headshot-bw-cropped-dithered-trans.jpg" alt="A man with dark hair, a dark beard, wearing glasses with clear frames and a black cardigan.">
						<div class="window-content">
								<p>Cameron is a front-end engineer who combines his passion for user experience, accessibility, and delightful interactions with his technical skills and certifications. He holds a BA in Computer Science from Gustavus Adolphus College and has earned his CPACC and UX Certificate from Nielsen Norman Group.</p>
								<p>Cameron likes to think holistically, systematically, and efficiently. He is a huge fan of process improvements and simplifying hand-offs between teams. He thinks every problem should be approached from the user's perspective first, and strives to create accessible, usable, and engaging experiences for all users. He is always eager to learn new technologies and best practices, and to share his knowledge and insights with others. He is looking for opportunities to grow his career and skills as a front-end/UX engineer and an accessibility expert.</p>
						</div>
				</div>
		</div>
	</div>
</Layout>

<style lang="scss">
	@use "../../styles/colors" as *;
	@use "../../styles/breakpoints" as *;
	@use "sass:color";

	@mixin shadow-text {
		font-size: 2rem;
		font-weight: 400;
		margin: 1rem 0;
		text-transform: uppercase;
		text-align: center;
		text-shadow: 4px 4px 0 color.adjust($dark-accent, $alpha: -0.7);
		
		@include sm {
			text-align: left;
		}
	}

	.shadow-text {
		@include shadow-text;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 20px;
		margin-top: 20px;

		@include sm {
			flex-direction: row;
		}
	}
	.job-titles {
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding: 1rem;
		.job-title-text {
			font-size: 2.5rem;
			text-transform: uppercase;

			@include shadow-text;
		}
	}
	.window-title {
		background-color: $dark-accent;
		box-shadow: 3px 3px 0 color.adjust($dark-accent, $alpha: -0.6);
		color: $tan-fg;
		padding: 1rem;

		h2 {
			margin: 0;
			text-align: center;

			@include sm {
				text-align: left;
			}
		}
	}

	.about-wrap {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;

        @include md {
            flex-direction: row;
        }
    }

    .window {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include sm {
            display: block;
        }
    }

    #profile-pic {
        box-shadow: 3px 3px 0 color.adjust($dark-accent, $alpha: -0.6);
        filter: sepia(50%);
        margin-top: 20px;
        width: auto;
        max-width: 250px;

        @include sm {
            float: left;
            margin: 2rem;
        }
    }
</style>
