---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cameron MacDonald" isHome currentPage="home">
  <div class="IndexWrap">
    <p class="Intro">Check out my stuff</p>
    <nav>
      <a href="/resume" class="Card" id="Resume">
        <h2>Resume <span class="material-symbols-rounded" aria-hidden="true">arrow_forward</span></h2>
        <p>experience</p>
      </a>
      <a href="/work" class="Card" id="Work">
        <h2>Work <span class="material-symbols-rounded" aria-hidden="true">arrow_forward</span></h2>
        <p>projects</p>
      </a>
      <a href="/blog" class="Card" id="Blog">
        <h2>Blog <span class="material-symbols-rounded" aria-hidden="true">arrow_forward</span></h2>
        <p>ramblings of a mad man</p>
      </a>
      <a href="/contact" class="Card" id="Contact">
        <h2>Contact <span class="material-symbols-rounded" aria-hidden="true">arrow_forward</span></h2>
        <p>carrier pigeon preferably</p>
      </a>
      <div class="grid-bg" aria-hidden="true">
        <h2>X</h2>
        <p>X</p>
      </div>
    </nav>
  </div>
</Layout>

<style lang="scss">
  @use "../../styles/_color.scss" as *;
  @use "../../styles/_breakpoints.scss" as *;
  @use "sass:color";

  .IndexWrap {
    width: 100%;
    nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 1rem;

      @include mobile {
        grid-template-columns: 1fr;
      }
    }
  }

  .Intro {
    font-size: 2rem;
    @include mobile {
      font-size: 1.25rem;
      text-align: center;
      margin-top: 0;
    }
  }

  .grid-bg {
    @media (pointer: fine) {
      translate: 50% calc(-150% - 2rem);
      padding: 1rem 3rem 3rem 1rem;
      width: 100%;
      border-radius: 10px;
      pointer-events: none;
      transition: background-color 0.5s ease-in-out,
      translate 0.5s ease-in-out;
  
      & * {
        visibility: hidden;
        margin: 0;
      }
    }

    @media (pointer: coarse) {
      display: none;
    }
  }

  @mixin cardColor($color, $pos) {
    border: 3px solid $color;

    @media (pointer: fine) {
      &:hover,
      &:focus {
        background-color: transparent;
        z-index: 1;
  
        & > p {
          color: $black;
        }
  
        &~ .grid-bg {
          $posX: 0;
          $posY: calc(-226.5%);
          @if $pos > 1 {
            $posY: calc(-113%);
          }
          @if $pos % 2 != 0 {
            $posX: calc(100% + 1rem); 
          }
          translate: $posX $posY;
          background-color: $color;
          pointer-events: none;
        }
      }
    }

    &:focus {
      outline: 3px solid $color;
      outline-offset: 3px;
    }
  }

  a.Card {
    position: relative;
    container: card / inline-size;
    $padding-br: 3rem;
    $padding-tl: 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: $off-white;
    padding: $padding-tl $padding-br $padding-br $padding-tl;
    display: block;
    transition: color 0.5s ease-in-out;
    height: 100%;

    @include mobile {
      padding-bottom: 2rem;
    }

    @media (pointer: fine) {
      &:hover,
      &:focus {
        color: $black;
      }
    }

    &#Resume {
      @include cardColor($off-white, 0);
    }
    &#Work {
      @include cardColor($orange-web, 1);
    }
    &#Blog {
      @include cardColor($pink-orange, 2);
    }
    &#Contact {
      @include cardColor($blue-light, 3);
    }
    & > h2 {
      display: flex;
      align-items: center;
      width: 100%;
      font-weight: 400;
      gap: 0.5rem;
      margin: 0;
      & > .material-symbols-rounded {
        height: 1em;
      }

      @include mobile {
        font-size: 1.25rem;
      }
    }

    & > p {
      color: transparent;
      transition: color 0.5s ease-in-out;
      margin: 0;

      @media (pointer: coarse) {
        color: color.mix($black, $off-white, 50%);
      }

      @include mobile {
        font-size: 0.8rem;
      }
    }
  }
</style>
