---
export interface Props {
  isHome?: boolean,
  currentPage: string
}

const { isHome=false, currentPage } = Astro.props;
---

<header>
  <a href="/"><h1>Cameron MacDonald</h1></a>
  <nav>
    <div class="backdrop"></div>
    {
      !isHome ? (
        <a class:list={{current: currentPage === 'resume'}} href="/resume">Resumé</a>
        <a class:list={{current: currentPage === 'work'}} href="/work">Work</a>
        <a class:list={{current: currentPage === 'blog'}} href="/blog">Blog</a>
        <a class:list={{current: currentPage === 'contact'}} href="/contact">Contact</a>
      ) :
      (
        null
      )
    }
  </nav>
</header>

<style lang="scss">
  @use "../../styles/_color.scss" as *;
  @use "../../styles/_breakpoints.scss" as *;
  @use "sass:color";
  body {
    & > header {
			display: flex;
			align-items: center;
			gap: 2rem;
			position: sticky;
      margin-top: 20px;
      top: 0;
			width: 100%;

      @include mobile {
        justify-content: center;
        gap: 0;
        margin-top: 0;

        & > nav {
          display: none;
        }
      }
      & > a {
        text-decoration: none;
      }
      $gradient-mix: color.mix($rose-pink, $orange, 50%);
      $background-gradient: linear-gradient(90deg, $rose-pink, $gradient-mix, $rose-pink);
			& > a > h1 {
				background: $background-gradient;
				background-size: 400% 100%;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-weight: 800;
				padding: 1rem 2rem 1rem 2rem;

				margin: 0;

        &:hover {
          -webkit-background-clip: initial;
          -webkit-text-fill-color: $black;
          border-radius: 5px;
        }

				@media (prefers-reduced-motion: no-preference) {
					animation: headingBgSlide 15s ease-in-out infinite;
					transition: color 0.2s ease-in-out,
          -webkit-background-clip 0.4s ease-in-out,
          -webkit-text-fill-color 0.2s ease-in-out,
					background 0.2s ease-in-out;			
				}

        @include mobile {
          font-size: 1.5rem;
        }
			}

      & a:has(h1) {
        &:focus-visible,
        &:focus {
          outline-color: $gradient-mix;
          & h1 {
            -webkit-background-clip: initial;
            -webkit-text-fill-color: $black;
            border-radius: 5px;
          }
        }
      }

			& > nav {
				display: flex;
				gap: 2rem;
				& > .backdrop {
					position: absolute;
					inset: 0;
					$extended-by: 0px;
					bottom: calc(-1 * $extended-by);
					$cutoff: calc(100% - $extended-by);
					-webkit-mask-image: linear-gradient(
						to bottom,
						black 0,
						black $cutoff,
						transparent $cutoff
					);
					pointer-events: none;

					$blur: 7px;
					backdrop-filter: blur($blur);
					-webkit-backdrop-filter: blur($blur);
					z-index: -1;
				}
				& > a {
					font-size: 1.3rem;
          font-weight: 500;
					color: $off-white;
					text-decoration: none;
					transition: color 0.1s ease-in-out;
					line-height: 1;
					padding: 5px;

          &.current {
            color: $orange-web;
            text-decoration: wavy underline;
            text-underline-offset: 10px;
          }

					&:hover {
						color: $pink-orange
					}

					&:focus {
						border-radius: 2px;
						background: $pink-orange;
						color: $blue-black;
						outline: 3px solid $pink-orange;
					}
				}
			}
		}
  }

  @keyframes headingBgSlide {
		0% {
			background-position: 0% 50%;
		}

		100% {
			background-position: -400% 50%;
		}
	}
</style>