---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="The personal website of Cameron MacDonald, a front-end developer, UX designer, and accessibility specialist.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#000000">
		<meta name="color-scheme" content="light dark">
		<meta name="author" content="Cameron MacDonald">
		<meta name="application-name" content="Personal website of Cameron MacDonald">
		<meta name="AdsBot-Google" content="noindex">
		<meta name="twitter:title" content="Cameron MacDonald">
		<meta name="twitter:image" content="https://cdmacdonald.com/cdmacdonald-favicon.png">
		<meta name="twitter:card" content="summary_large_image">
		<link rel="canonical" href="http://cdmacdonald.com">
		<link rel="icon" type="image/svg+xml" href="/cdmacdonald-favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>
<style lang="scss" is:global>
	@use "sass:color";
	@use "../../styles/_color.scss" as *;

	* {
		box-sizing: border-box;
		&:not(h1, h2, h3, h4, h5, h6) {
			font-family: 'Red Hat Text', sans-serif;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Red Hat Display', sans-serif;
	}

	body {
		background: $black;
		margin: 0;
		height: 150vh;
	}
</style>
