$spin-time: 60s;
$logo-nums: 1,2,3,4;

.logo-list {
  padding: 0;
  animation: $spin-time infinite linear spin;
  transform-origin: center;
  transform: translateX(-50%);
  width: 500px;
  height: 500px;
}
.logo-row {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  @each $num in $logo-nums {
    $baseRotation: ($num * 45);
    $counterRotation: (-1 * $num * 45);
     
    &:nth-child(#{$num}) {
      transform: translateX(-50%) translateY(-50%) rotate(#{$baseRotation}deg);
      li {
        transform: rotate(#{$counterRotation}deg);
        animation: $spin-time infinite linear cspin-#{$num};
      }
    }
  }
}

@each $num in $logo-nums {
  $baseRotation: (-1 * ($num * 45));
  @keyframes cspin-#{$num} {
    from {
      transform: rotate(#{$baseRotation}deg);
    }

    to {
      transform: rotate(#{$baseRotation - 360}deg);
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@mixin diagonalColorSwipe($color) {
  background-image: linear-gradient(45deg, transparent, transparent 50%, $color 50%, $color);
  background-size: 200% 200%;
  background-position: -50% 50%;
  background-repeat: no-repeat;
  transition: background-position 0.3s ease-in-out;

  &:hover, &:focus, &:active {
    background-position: 100% 0%;
    outline-color: $color;
  }
}