@use "sass:color";
$midnight-blue: #1c172e;
$dark-blue: #182638;
$rose-pink: #ff5a7b;
$mid-pink: #541522;
$dark-pink: #36151b;
$white: #fff;
$off-white: #f5f9fa;
$blue-black: #171621;
$black: #000000;
$almost-black: #212121;
$orange: #fa8823;
$pink-orange: color.mix($orange, $rose-pink, 30%);